<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1>{{ product.product_name }}</h1>
    <img src="{{ product.image_url }}" alt="{{ product.product_name }}">
    <p><strong>Brand:</strong> {{ product.brands }}</p>
    <p><strong>Categories:</strong> {{ product.categories }}</p>
    <p><strong>Ingredients:</strong> {{ product.ingredients }}</p>
    <p><strong>Nutriscore:</strong> {{ product.nutriscore }}</p>
    <p><strong>NOVA Group:</strong> {{ product.nova_group }}</p>
    <p><strong>Energy (kcal/100g):</strong> {{ product.energy }}</p>
    <p><strong>Description:</strong> {{ product.product_description }}</p>
    <p><strong>Weight:</strong> {{ product.weight }}</p>
    <p><a href="{{ product.product_url }}" target="_blank">View more details</a></p>

    <a href="/">Back to Scan</a>
</body>
</html>
